#topContainer {
    z-index:4;
}

#footer {
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}

#header {
    padding-top:22px;
}

#mySidebar {
    z-index:3;
    width:200px;
}

#content {
    margin-left:300px;
    margin-top:43px;
}

#myOverlay {

}